/* CSS Document */
/* Author: Josh Story */

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #101010;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.p5Canvas {
  display: block;
  position: relative !important;
  margin: 3em auto;
  border: 6px outset #eee !important;
  box-shadow: 8px 8px 28px 8px rgba(0, 0, 0, 0.6) !important;
  background: linear-gradient(120deg, #202020, #000) !important;
}
